<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>MyHomeworkSSH</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login.user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Adduser</servlet-name>
    <servlet-class>servlets.admin.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adduser</servlet-name>
    <url-pattern>/Adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Alteruser</servlet-name>
    <servlet-class>servlets.admin.alteruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alteruser</servlet-name>
    <url-pattern>/Alteruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Alteruser2</servlet-name>
    <servlet-class>servlets.admin.alteruser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alteruser2</servlet-name>
    <url-pattern>/Alteruser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addcourse</servlet-name>
    <servlet-class>servlets.admin.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addcourse</servlet-name>
    <url-pattern>/Addcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Altercourse</servlet-name>
    <servlet-class>servlets.admin.altercourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Altercourse</servlet-name>
    <url-pattern>/Altercourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Altercourse2</servlet-name>
    <servlet-class>servlets.admin.altercourse2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Altercourse2</servlet-name>
    <url-pattern>/Altercourse2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setstudent</servlet-name>
    <servlet-class>servlets.teacher.setstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setstudent</servlet-name>
    <url-pattern>/setstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setassistant</servlet-name>
    <servlet-class>servlets.teacher.setassistant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setassistant</servlet-name>
    <url-pattern>/setassistant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkassscore</servlet-name>
    <servlet-class>servlets.teacher.checkassscore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkassscore</servlet-name>
    <url-pattern>/checkassscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadhomework</servlet-name>
    <servlet-class>servlets.student.uploadhomework</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadhomework</servlet-name>
    <url-pattern>/uploadhomework</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>makehomeworkplan</servlet-name>
    <servlet-class>servlets.teacher.makeHomeworkplan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>makehomeworkplan</servlet-name>
    <url-pattern>/makehomeworkplan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadhomework</servlet-name>
    <servlet-class>servlets.assistant.DownLoadHomework</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadhomework</servlet-name>
    <url-pattern>/downloadhomework</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadscore</servlet-name>
    <servlet-class>servlets.assistant.uploadscore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadscore</servlet-name>
    <url-pattern>/uploadscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadscore</servlet-name>
    <servlet-class>servlets.teacher.DownLoadScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadscore</servlet-name>
    <url-pattern>/downloadscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadsamplecomment</servlet-name>
    <servlet-class>servlets.teacher.UploadSampleComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadsamplecomment</servlet-name>
    <url-pattern>/uploadsamplecomment</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>downloadsamplecomment</servlet-name>
    <servlet-class>servlets.student.Downloadsamplecomment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadsamplecomment</servlet-name>
    <url-pattern>/downloadsamplecomment</url-pattern>
  </servlet-mapping>
  
  
  <servlet>  
    <servlet-name>homeworkarrange1</servlet-name>
    <servlet-class>servlets.personincharge.homeworkarrange1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeworkarrange1</servlet-name>
    <url-pattern>/homeworkarrange1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homeworkarrangestu2</servlet-name>
    <servlet-class>servlets.personincharge.homeworkarrangestu2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeworkarrangestu2</servlet-name>
    <url-pattern>/homeworkarrangestu2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homeworkarrangeass2</servlet-name>
    <servlet-class>servlets.personincharge.homeworkarrangeass2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeworkarrangeass2</servlet-name>
    <url-pattern>/homeworkarrangeass2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homeworkupload1</servlet-name>
    <servlet-class>servlets.personincharge.homeworkupload1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeworkupload1</servlet-name>
    <url-pattern>/homeworkupload1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homeworkupload2</servlet-name>
    <servlet-class>servlets.personincharge.homeworkupload2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeworkupload2</servlet-name>
    <url-pattern>/homeworkupload2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scoreupload1</servlet-name>
    <servlet-class>servlets.personincharge.scoreupload1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scoreupload1</servlet-name>
    <url-pattern>/scoreupload1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scoreupload2</servlet-name>
    <servlet-class>servlets.personincharge.scoreupload2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scoreupload2</servlet-name>
    <url-pattern>/scoreupload2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homeworkinfo</servlet-name>
    <servlet-class>servlets.personincharge.homeworkinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeworkinfo</servlet-name>
    <url-pattern>/homeworkinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>difficulty</servlet-name>
    <servlet-class>servlets.personincharge.difficulty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>difficulty</servlet-name>
    <url-pattern>/difficulty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>format</servlet-name>
    <servlet-class>servlets.personincharge.format</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>format</servlet-name>
    <url-pattern>/format</url-pattern>
  </servlet-mapping>
</web-app>